@import '../../../../styles/base';

#played-viewer {
  tr.current {
    font-style: italic;
    font-weight: bold;
    background-color: $lightGrey;
  }

  th.song-year {
    width: 70px;
  }

  th.song-genre {
    width: 100px;
  }

  th.song-album,
  th.song-artist {
    width: 300px;
  }

  tr.no-songs {
    font-style: italic;
  }
}
